name = "url-shortener"
main = "build/worker/shim.mjs"
compatibility_date = "2024-01-01"

[build]
command = "cargo install -q worker-build && worker-build --release"

[vars]
ENVIRONMENT = "production"

# kv namespace for storing url mappings
# created with: wrangler kv namespace create "URLS"
[[kv_namespaces]]
binding = "URLS"
id = "07d4ca3a73da45a3aaf1f5c4a2187893"

[env.preview]
name = "url-shortener-preview"

[env.preview.vars]
ENVIRONMENT = "preview"

[[env.preview.kv_namespaces]]
binding = "URLS"
id = "07d4ca3a73da45a3aaf1f5c4a2187893"
