name = "url-shortener"
main = "build/worker/shim.mjs"
compatibility_date = "2024-01-01"

[build]
command = "cargo install -q worker-build && worker-build --release"

[vars]
ENVIRONMENT = "production"
RATE_LIMIT = "20"
RATE_WINDOW_SECONDS = "60"

# kv namespace for storing url mappings
# created with: wrangler kv namespace create "URLS"
[[kv_namespaces]]
binding = "URLS"
id = "07d4ca3a73da45a3aaf1f5c4a2187893"

# kv namespace for rate limiting
[[kv_namespaces]]
binding = "RATES"
id = "e3c74a5c223c4feb8ab9e4ea82a55e69"

[env.preview]
name = "url-shortener-preview"

[env.preview.vars]
ENVIRONMENT = "preview"
RATE_LIMIT = "20"
RATE_WINDOW_SECONDS = "60"

[[env.preview.kv_namespaces]]
binding = "URLS"
id = "07d4ca3a73da45a3aaf1f5c4a2187893"

[[env.preview.kv_namespaces]]
binding = "RATES"
id = "e3c74a5c223c4feb8ab9e4ea82a55e69"
